@font-face {
  font-family: maiola, serif;
  src:
    url("https://use.typekit.net/lbp7mnn.css") format("opentype");
}

body {
    background-color: #99999;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.banner {
    align-items: center;
    justify-content: center;
    height: 7vh;
    background-color: #D8613C;
}
