@import url("https://use.typekit.net/lbp7mnn.css");
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap');

.top-nav-menu {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

html {
    background-color: #F5F5F5;
    font-family: "maiola", serif;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

h3 {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    font-weight: 400;
}

h4 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
}

h5 {
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
    font-weight: 400;
}

h6 {
    font-size: 1.25rem;
    margin-bottom: 0.3rem;
    font-weight: 400;
}

p {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}

li {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}

a {
    color: #D8613C;
    text-decoration: underline;
    text-underline-offset: 4px;
}

a:hover {
    color: black;
}

.banner {
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: 2px solid black;
}

.banner-text {
    padding-bottom: 1rem;
}

code {
    font-family: "Cascadia Mono", monospace;
    background-color: #E0E0E0;
    font-size: 0.95rem;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
}

footer {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 2px solid black;
}