@import url("https://use.typekit.net/lbp7mnn.css");
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* Light mode */

html {
  --bg-primary: #fef4df;
  --bg-secondary: #fbfaf8;
  --bg-tertiary: #f9e8d3;
  --text-primary: #101519;
  --text-secondary: #67686b;
  --border-color: #c6beb0;
  --accent: #AF4F41;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--bg-primary);
    color: var(--text-primary);
    font-family: "Maiola", serif;
}

h1 {
    font-size: 3rem;
    margin: 3rem 2rem 2rem 2rem;
    font-weight: 400;
}

p, li {
    font-family: inherit;
    font-size: 1.2rem;
    margin: 0 2rem 1rem 0;
    line-height: 1.5;
    color: var(--text-primary);
    overflow-wrap: break-word;
    word-break: break-word;
}

a {
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    color: var(--accent);
    overflow-wrap: break-word;
    word-break: break-word;
}

a:hover {
    color: var(--text-primary);
    text-decoration: underline;
    text-decoration-style: wavy;
}