@import url("https://use.typekit.net/lbp7mnn.css");
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* Light mode */

html {
  --bg-primary: #fef4df;
  --bg-secondary: #fbfaf8;
  --bg-tertiary: #f9e8d3;
  --text-primary: #101519;
  --text-secondary: #67686b;
  --border-color: #c6beb0;
  --accent: #AF4F41;
  --accent-op1: #AF4F4130;
  --accent-op2: #AF4F4190;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--bg-primary);
    color: var(--text-primary);
    font-family: "Maiola", serif;
}

h1 {
    font-size: 3rem;
    margin: 3rem 1rem 2rem 1rem;
    font-weight: 400;
}

p, li {
    font-family: inherit;
    font-size: 1.2rem;
    margin: 0 1rem 0.5rem 1rem;
    line-height: 1.5;
    color: var(--text-primary);
    overflow-wrap: break-word;
    word-break: break-word;
}

a {
    background-image: linear-gradient(to right, var(--accent-op1), var(--accent-op2));
    background-repeat: no-repeat;
    background-position: 50% 95%;
    background-size: 200% 20%;
    overflow-wrap: break-word;
    word-break: break-word;
    color: var(--text-primary);
    text-decoration: none !important;
    transition: 0.5s;
}

a:hover {
    border-radius: 4px;
    padding: 0.1rem 0.4rem;
    background-position: 0% 100%;
    background-size: 300% 100%;
    font-weight: 700;
}