---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "Blogroll - Thamara Kandabada";
---
<PageLayout title={pageTitle}>

  <body>

    <h1>Blogroll</h1>
    
    <p>A list of blogs, personal sites, and other online publications I follow. I generally consume all this content through my feed reader of choice, <a href="https://www.currentreader.app/" target="_blank">Current</a> on macOS and iOS.</p>
    
    <h2>Personal blogs and sites</h2>
    <ul>
      <li><a href="https://jamesg.blog" target="_blank">James' Coffee Blog</a></li>
      <li><a href="https://brennan.day/" target="_blank">Brennan's Weblog</a></li>
      <li><a href="https://tantek.com/" target="_blank">Tantek Çelik</a></li>
      <li><a href="https://gregorlove.com/" target="_blank">gRegorLove</a></li>
      <li><a href="https://himalkk.substack.com/" target="_blank">Himal’s Substack</a></li>
      <li><a href="https://rothbourne.substack.com/" target="_blank">Johanns Rogers</a></li>
      <li><a href="https://britthub.co.uk/" target="_blank">BrittHub</a></li>
      <li><a href="https://busterbenson.com/" target="_blank">Buster Benson</a></li>
      <li><a href="https://meiert.com/" target="_blank">Jens Oliver Meiert</a></li>
      <li><a href="https://joelchrono.xyz/" target="_blank">Joel Chrono</a></li>
      <li><a href="https://hamatti.org/" target="_blank">Juha-Matti Santala</a></li>
      <li><a href="https://ukr.lk/" target="_blank">Kaveen Rodrigo</a></li>
      <li><a href="https://maggieappleton.com/" target="_blank">Maggie Appleton</a></li>
      <li><a href="https://meowni.ca/" target="_blank">Monica Dinculescu</a></li>
      <li><a href="https://zacharykai.net/" target="_blank">Zachary Kai</a></li>
      <li><a href="https://www.morganwebdev.org/" target="_blank">Morgan Murrah</a></li>
      <li><a href="https://alifeofsaturdays.substack.com/" target="_blank">a life of saturdays</a></li>
      <li><a href="https://www.vanderwal.net/" target="_blank">Thomas Vander Wal</a></li>
      <li><a href="https://tracydurnell.com/" target="_blank">Tracy Durnell's Mind Garden</a></li>
      <li><a href="https://www.terrygodier.com/" target="_blank">Terry Godier</a></li>
      <li><a href="https://shellsharks.com/" target="_blank">ShellSharks</a></li>
      <li><a href="https://olu.online/" target="_blank">Olu Online</a></li>
    </ul>

    <h2>Technology</h2>
    <ul>
      <li><a href="https://jamesg.blog" target="_blank">Daring Fireball</a></li>
      <li><a href="https://arstechnica.com/" target="_blank">Ars Technica</a></li>
    </ul>

    <h2>Longform</h2>
    <ul>
      <li><a href="https://aeon.co/" target="_blank">Aeon</a></li>
    </ul>

    <h2>Sri Lanka</h2>
    <ul>
      <li><a href="https://www.examiner.media/" target="_blank">The Examiner</a></li>
      <li><a href="https://www.arutharesearch.org/" target="_blank">Arutha Research</a></li>
      <li><a href="https://muragala.lk/" target="_blank">Muragala</a></li>
    </ul>

  </body>

</PageLayout>
