---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "Credits - Thamara Kandabada";
---
<PageLayout title={pageTitle}>
  <body>

    <h1>Credits</h1>
    
    <p>I'm using the following tools to create and maintain this website. A number of them are open source projects created by indepenedent developers.</p>
    
    <div class="see-also">
      <ul>
        <li><strong>See also:</strong></li>
        <li><a href="/colophon">Colophon</a></li>
        <li><a href="/changelog">Changelog</a></li>
      </ul>
    </div>
    
    <h2><a href="https://astro.build/" target="_blank">Astro</a></h2>
    <p>Astro is a JavaScript web framework that renders files server-side and sends lightweight HTML files to you browser, enabling a fast and satisfying browsing experience. I write the web pages in HTML, the blog posts in Markdown, and style them with CSS, which Astro's powerful templating engine converts to what you see here. Astro is completely free and has extensive beginner-friendly documentation.</p>

    <h2><a href="https://github.com/" target="_blank">GitHub</a></h2>
    <p>GitHub allows the source code written in Astro to be stored and deployed. It keeps track of the various versions of the code, with extensive records on each change made.</p>

    <h2><a href="https://vercel.com/home" target="_blank">Vercel</a></h2>
    <p>Vercel provides the cloud-based server infrastructure for this website to be deployed on. I'm also using their analytics and pagespeed insights tools to improve the browsing experience. I'm currently on Vercel's generous free tier, which offers more than enough computing power for a small personal website.</p>
    
    <h2><a href="https://github.com/karthikeyankc/discuss" target="_blank">Discuss</a></h2>
    <p>Discuss is a lighweight comment engine for static sites, created by <a href="https://karthikeyankc.com/" target="_blank">Karthikeyan KC</a>. I use it to power my Guestbook and the comments on my blogposts.</p>
  
    <h2><a href="https://www.digitalocean.com/" target="_blank">Digital Ocean</a></h2>
    <p>Discuss is a self-hosted tool, so I use a basic VPS from Digital Ocean (called a Droplet) to host the comments for this site. It is effective and easy to set up, and quite affordable.</p>

    <h2><a href="https://icons.getbootstrap.com/" target="_blank">Bootstrap Icons</a></h2>
    <p>All icons used on this website are from the open-source Bootstrap Icon Library. I am using them both as SVGs and web fonts.</p>

    <h2><a href="https://renata.haliya.net/thelab.html" target="_blank">Renata's Lab</a></h2>
    <p>This is a wonderfull collection of CSS snippets by Renata, a self-described "enthusiast of all things delightful."</p>
  
  </body>
</PageLayout>
