---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "Design - Thamara Kandabada";
---
<PageLayout title={pageTitle}>
  <body>

    <h1>Design</h1>
    
    <p>work in progress</p>

  </body>
</PageLayout>
