---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "Design - Thamara Kandabada";
---
<PageLayout title={pageTitle}>
  <body>

    <h1>Design</h1>
    
    <p>Although I have no formal training in design, I dabble. These side projects are presented on the web and elsewhere under my alias <i>Winding Road Design</i>, named after one of my favourite songs by the greatest band of all time. While it is primarily a hobby, culminating in alternate poster designs for films and TV, I have occasionally been involved in fundraising ventures such as The Turnaround Project‘s Great Legal Challenge.</p>

  </body>
</PageLayout>
