---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "Desk - Thamara Kandabada";
---
<PageLayout title={pageTitle}>

  <body>

    <h1>What's on my desk</h1>
    
    <p>This is a timeline of my desk setup over the years. Changing priorities, house moves, and fluctuations in my financial situation have caused my setup to evolve/de-evolve in interesting ways. These photos were taken by me at random moments, and I’m documenting them all here for nostalgia.</p>
    <p>You may also be interested in what I’m currently using, over at <a href="/uses">/uses</a>.</p>

  </body>
</PageLayout>
