---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "Experiments - Thamara Kandabada";
---
<PageLayout title={pageTitle}>
  
  <body>

    <h1>Experiments</h1>
    
    <p>A place to test new features that aren't quite ready for the main website just yet.</p>

    <div class="no-experiments-banner">
      <ul>
        <li>Nothing to see here right now.</li>
      </ul>
    </div>

  </body>
</PageLayout>
