---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "Gigs - Thamara Kandabada";
---
<PageLayout title={pageTitle}>

  <body>

    <h1>Gigs</h1>
    
    <p>work in progress</p>

  </body>

</PageLayout>
