---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "Gigs";
---
<PageLayout title={pageTitle}>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/tk.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
  </head>
  
  <body>

    <h1>{pageTitle}</h1>
    
    <p>work in progress</p>

  </body>

  </PageLayout>
</html>
</PageLayout>
