---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "Gitlog - Thamara Kandabada";
---
<PageLayout title={pageTitle}>
  
  <body>

    <h1>Gitlog - WIP</h1>
    
    <p>This is a detailed changelog for this site, listing all Git commits deployed since launch. For the highlighs, see <a href="/changelog">/changelog</a> instead.</p>

  </body>

</PageLayout>

