---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "Hello";
---
<PageLayout title={pageTitle}>
  <body>
    <h1>Say Hello</h1>
      <p>If you enjoyed browsing this website, or want to get in touch for any other reason, the best way to say hello is through email: <code>t@thamara.co.uk</code>. You can also iMessage me at this address.</p>
      <p>Alternatively, use the contact form below to send me a message.</p>
  </body>
</PageLayout>