---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "Notebook";
---
<PageLayout title={pageTitle}>  
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/tk.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
  </head>
  
  <body>

    <h1>{pageTitle}</h1>
    <h2>Uncensored thoughts on Life, The Universe, and Everything</h2>
    
    <ul>
      <li><a href="/notebook/couch-to-5k-week-5/">Couch to 5K: Week 5</a></li>
      <li><a href="/notebook/couch-to-5k-progress-week-4/">Couch to 5K progress: Week 4</a></li>
    </ul>
    
  </body>
  </html>
  </PageLayout>