---
import '../styles/global.css';
const pageTitle = "Notebook";
---

<style>
  body {
    font-family: "Maiola", serif;
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
    <link rel="stylesheet" href="https://use.typekit.net/lbp7mnn.css">
  </head>
  
  <body>
    <div class="banner">
      <p class="banner-text">Work in progress: this is a clone of my WordPress site, currently being built in Astro, for eventual migration. Visit my <a href="https://thamara.co.uk">WordPress site</a> for the latest updates.</p>
    </div>

  <a href="/">Home</a>
  <a href="/colophon/">Colophon</a>
  <a href="/notebook/">Notebook</a>

    <h1>{pageTitle}</h1>
    <h2>Uncensored thoughts on Life, The Universe, and Everything</h2>
    
    <ul>
      <li><a href="/notebook/couch-to-5k-week-5/">Couch to 5K: Week 5</a></li>
      <li><a href="/notebook/couch-to-5k-progress-week-4/">Couch to 5K progress: Week 4</a></li>
    </ul>
    
  </body>

  <footer>
    <p>&copy; 2026 Thamara Kandabada</p>
  </footer>
  
  </html>