---
import PageLayout from '../layouts/PageLayout.astro';
const allPosts = Object.values(import.meta.glob('./notebook/*.md', { eager: true }));
const pageTitle = "Notebook - Thamara Kandabada";
---
<PageLayout title={pageTitle}>  
  <body>

    <h1>Notebook</h1>
    <p><i>Uncensored thoughts on Life, The Universe, and Everything</i></p>
    
    <ul class="notebook-posts-list">
        {allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    </ul>
    
  </body>
</PageLayout>