---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "Now";
---
<PageLayout title={pageTitle}>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/tk.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
  </head>
  
  <body>

    <h1>{pageTitle}</h1>

      <p>This is a page dedicated to what’s happening in my life right now. Inspired by my friend <a href="https://ukr.lk/now/" target="_blank">Kaveen’s now page</a>, which in turn was inspired by <a href="https://nownownow.com/about" target="">nownownow.com</a>. I also have pages for my past and current <a href="/projects">/projects</a> and various <a href="/design">/design</a> work I've done over the years.</p>
      <p>You can explore all slashpages at <a href="/garden">/garden</a>.</p>
      <p><strong>Last Updated:</strong> 13 Jun 2026</p>

      <div class="now-location-weather">
      <p><strong>Homebase:</strong> Belfast</p>
      <p><strong>Current location:</strong> ...</p>
      <p><strong>Weather:</strong> ...</p>    
      </div>

    <h2>What I'm working on</h2>
      <ul>
        <li>Working my way through Couch to 5K</li>
        <li>Migrating this website to Astro</li>
      </ul>

    <h2>Broad goals for the next few months</h2>
      <ul>
        <li>Play more music</li>
        <li>Design a font</li>
        <li>Save for a deposit to buy a house</li>
      </ul>

    <h2>Hobbies</h2>
      <div class="hobbies-section">
        <div class="hobby-cinema">
          <h3>Cinema</h3>
            <img class="hobby-photo" src="src/assets/photos/now/hobbies/qft-door.jpg" alt="The entrance to QFT Belfast">
            <p>I’m an avid cinema-goer. I spend most of my free time at my favourite place in Belfast, the <a href="https://queensfilmtheatre.com/" target="_blank">Queen’s Film Theatre</a>.</p>
            <p>I sometimes make <a href="/design#alternate-film-tv-posters">alternate posters</a> for films that I like.</p>
            <p>Sundry links:</p>
              <ul class="hobby-cinema-list">
                <li><a href="https://letterboxd.com/thamarak/list/2026-favourites-so-far/" target="_blank">Favourite films of 2026… so far</a></li>
                <li><a href="https://letterboxd.com/thamarak/list/2025-qft-watches/" target="_blank">Films seen at QFT in 2025</a></li>
                <li><a href="https://letterboxd.com/thamarak/list/2025-favourites/" target="_blank">Favourite films of 2025</a></li>
                <li><a href="https://physicalmedia.thamara.co.uk/" target="_blank">Physical media collection</a></li>
              </ul>
        </div>

        <div class="hobby-music">
          <h3>Music</h3>
          <img class="hobby-photo" src="src/assets/photos/now/hobbies/headphone-setup.jpg" alt="My headphone setup with 2 amps, switcher and equaliser">
          <p>I like as much detail as possible in my music. My current listening setup includes:</p>
            <ul class="hobby-music-list">
              <li><strong>Amps:</strong> Schiit Magni Heresy and Little Dot MKII</li>
              <li><strong>Switcher:</strong> Realistic 42-2110</li>
              <li><strong>Equaliser:</strong> Schiit Loki Mini+</li>
              <li><strong>DAC:</strong> Schiit Modi 3+</li>
              <li><strong>Headphones:</strong> Massdrop x Sennheiser HD 6XX (HD 660)</li>
            </ul>
          <p>You can view all my gear on the <a href="/uses">/uses</a> page.</p>
        </div>

        <div class="hobby-gigs">
          <h3>Gigs</h3>
            <img class="hobby-photo" src="src/assets/photos/now/hobbies/myles-kennedy.jpg" alt="A photo I took of Myles Kennedy at a recent gig, mid-song.">
            <p>I enjoy live music, and living in the UK has given me opportunities that I never would have had back home in Sri Lanka. I try to attend as many music, comedy, and theatre performances as I can, time and budget permitting.</p>
            <p>You can view the timeline at on the <a href="/gigs">/gigs</a> page.</p>
        </div>

      </div>

    <div class="guitars-section">
      <h3>Guitars</h3>
      <p>A majority of the music I consume is guitar-based, and I also play guitar at a beginner level. I keep buying guitars hoping that skill will follow. (It hasn’t happened yet.) Fortunately for you, the music I make is not available for public consumption</p>
      <p>My current guitars are:</p>

      <div class="guitar-showcase">
      <div class="guitar">
        <img class="guitar-photo" src="src/assets/photos/now/guitars/les paul.jpg" alt="Epiphone Les Paul Standard electric guitar with Mahogany body finished in Aged Gloss and Laurel fretboard">
        <h4>Epiphone 1959 Les Paul Standard</h4>
        <p>Body – Mahogany, Aged Gloss<br>Fretboard – Laurel</p>
      </div>

      <div class="guitar">
        <img class="guitar-photo" src="src/assets/photos/now/guitars/strat.jpg" alt="Fender Player Stratocaster electric guitar with Alder body finished in Tidepool and Maple fretboard">
        <h4>Fender Player Series Stratocaster</h4>
        <p>Body – Alder, Tidepool<br>Fretboard – Maple</p>
      </div>

      <div class="guitar">
        <img class="guitar-photo" src="src/assets/photos/now/guitars/embassy.jpg" alt="Epiphone Embassy electric bass guitar with Mahogany body finished in Graphite Black body and Laurel fretboard">
        <h4>Epiphone Embassy (Bass)</h4>
        <p>Body – Mahogany, Graphite Black<br>Fretboard – Laurel</p>
      </div>

      <div class="guitar">
        <img class="guitar-photo" src="src/assets/photos/now/guitars/morris.jpg" alt="Morris W-18 acoustic dreadnaught guitar with Spruce and Mahogany body in natural finish and Rosewood fretboard">
        <h4>Morris W-18</h4>
        <p>Body – Spruce & Mahogany, Natural<br>Fretboard – Rosewood</p>
      </div>
      </div>
    </div>

    <h2>What I'm watching, listening to, reading, and playing</h2>
    <ul class="consuming">
      <li><strong>Film:</strong> <a href="https://letterboxd.com/thamarak/diary/" target="_blank">Letterboxd</a></li>
      <li><strong>TV:</strong> <a href="https://app.trakt.tv/history?mode=media" target="_blank">Trakt</a></li>
      <li><strong>Music:</strong> <a href="https://music.apple.com/profile/thamaraxyz" target="_blank">Apple Music</a></li>
      <li><strong>Podcasts:</strong> See <a href="/podroll" target="_blank">/Podroll</a> page</li>
      <li><strong>Books:</strong> <a href="https://www.goodreads.com/thamarakandabada" target="_blank">Goodreads</a></li>
      <li><strong>Blogs:</strong> See <a href="/blogroll" target="_blank">/Blogroll</a> page</li>
      <li><strong>Games:</strong> <a href="https://psnprofiles.com/thamarakandabada" target="_blank">PlayStation</a> (via PSN Profiles)</li>
    </ul>
    
  </body>
</PageLayout>
