---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "Now";
---
<PageLayout title={pageTitle}>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/tk.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
  </head>
  
  <body>

    <h1>{pageTitle}</h1>
    
    <p>This is a page dedicated to what’s happening in my life right now. Inspired by my friend <a href="https://ukr.lk/now/" target="_blank">Kaveen’s now page</a>, which in turn was inspired by <a href="https://nownownow.com/about" target="">nownownow.com</a>. I also have pages for my <a href="/projects">/projects</a> and <a href="/design">/design</a>. You can explore all slashpages at <a href="/garden">/garden</a>.</p>
    <p><strong>Last Updated:</strong> 13 Jun 2026</p>

    <h2>What I'm working on</h2>
    <ul>
      <li>Working my way through Couch to 5K</li>
      <li>Migrating this website to Astro</li>
    </ul>

    <h2>Broad goals for the next few months</h2>
    <ul>
      <li>Play more music</li>
      <li>Design a font</li>
      <li>Save for a deposit to buy a house (provided Labour doesn’t kick us out of the country)</li>
    </ul>

    <h2>Hobbies</h2>

    <h2>Strava activity</h2>

    <h2>What I'm watching</h2>
      <h3>Film</h3>
      <h3>TV</h3>
    
    <h2>What I'm listening to</h2>
      <h3>On heavy rotation</h3>
      <h3>My album of the week</h3>
      <h3>Podcasts</h3>
        <p>See my <a href="/podroll">/podroll</a> page.</p>
    
    <h2>What I'm reading</h2>
      <h3>Books</h3>
      <h3>Blogs</h3>
        <p>See my <a href="/blogroll">/blogroll</a> page.</p>

    <h2>What I'm playing</h2>

  </body>

  </PageLayout>
</html>
</PageLayout>
