---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "Podroll - Thamara Kandabada";
---
<PageLayout title={pageTitle}>
  <body>

    <h1>Podroll - WIP</h1>
    <p>I listen to podcasts every day; usually during my commute, while running, or while doing household chores. It's a habit I first developed more than 10 years ago, and I've held on to it. My podcast app of choice is <a href="https://overcast.fm/" target="_blank">Overcast</a>. This is my current subscription list, with a link to each RSS feed.</p>
    <p>If you prefer a raw OPML file that can be imported directly to your podcast app of choice, <a href="" target="_blank">see here</a>.</p>
    
    <h2>Actively listening to</h2>
    <ul>
      <li>The Official BNI Podcast (Website, RSS)</li>
      <li>Dan Carlin’s Hardcore History</li>
      <li>Democracy Now! Audio</li>
      <li>The Infinite Monkey Cage</li>
      
<li>The Cine-Files</li>
<li>Freakonomics Radio</li>
<li>The Indicator from Planet Money</li>
<h2>Fresh Air</h2>
<h2>David Tennant Does a Podcast With…</h2>
<h2>The Friendship Onion</h2>
<h2>Breaking Absolutes</h2>
<h2>DARK FONZIE with Marc Maron &amp; Dean Delray</h2>
<h2>SmartLess</h2>
<h2>StarTalk Radio</h2>
<h2>Conan O’Brien Needs A Friend</h2>
<h2>Inside Conan: An Important Hollywood Podcast</h2>
<h2>Comedy Bang Bang: The Podcast</h2>
<h2>Andrew Hickey’s Patreon Bonus Episodes</h2>
<h2>Kermode on Film</h2>
<h2>Fly on the Wall with Dana Carvey and David Spade</h2>
<h2>Stuff You Should Know</h2>
<h2>Echoes of History</h2>
<h2>Mallwalkin’ By Pistol Shrimps Radio</h2>
<h2>Revisionist History</h2>
<h2>Song Exploder</h2>
<h2>WTF with Marc Maron Podcast (🔓 for <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="14607c75797566753a72787d7a77547379757d783a777b79">[email&#160;protected]</a> )</h2>
<h2>Kermode &amp; Mayo’s Extra Takes</h2>
<h2>The Economics of Everyday Things</h2>
<h2>This Little Light</h2>
<h2>The Always Sunny Podcast</h2>
<h2>Brydon &amp;</h2>
<h2>Hello, Puzzlers!</h2>
<h2>HBO’s The Last of Us Podcast</h2>
<h2>Dan Snow’s History Hit</h2>
<h2>The History Of Curb Your Enthusiasm With Jeff Garlin &amp; Susie
Essman</h2>
<h2>A History of Rock Music in 500 Songs</h2>
<h2>Office Ladies</h2>
<h2>Fresh Air</h2>
<h2>Pluribus: The Official Podcast</h2>
<h2>Wonders of Web Weaving</h2>
    </ul>

    <h2>Occasionally listening to</h2>
    <ul>
      <li>Broken Record with Rick Rubin, Malcolm Gladwell, Bruce Headlam and Justin Richmond</li>
    </ul>

    <h2>Lapsed</h2>
    <ul>
      <li>Curious Cases</li>
      <li>Clear+Vivid with Alan Alda</li>
      <li>Dean Delray’s LET THERE BE TALK</li>
    </ul>
    
    <h2>Discontinued by publisher</h2>
    <ul>
      <li>This Week in the IndieWeb Audio Edition</li>
      <li>Digging Deep with Robert Plant</li>
    </ul>

  </body>
</PageLayout>
