---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "Podroll - Thamara Kandabada";
---
<PageLayout title={pageTitle}>
  <body>

    <h1>Podroll - WIP</h1>
    <p>I listen to podcasts every day; usually during my commute, while running, or while doing household chores. It's a habit I first developed more than 10 years ago, and I've held on to it. My podcast app of choice is <a href="https://overcast.fm/" target="_blank">Overcast</a>. This is my current subscription list, with a link to each RSS feed.</p>
    <p>If you prefer a raw OPML file that can be imported directly to your podcast app of choice, <a href="" target="_blank">see here</a>.</p>
    
    <div class="podcast-grid">
        <div class="grid-wide">
          <h2>Actively listening to</h2>
            <ul>
              <li><a href="https://feeds.feedburner.com/dancarlin/history?format=xml" target="_blank">Dan Carlin’s Hardcore History</a>: This podcast lives up to the name. Each episode is 3-6 hours long, and Dan covers a particular period of history over a 3-4 episode arc in great detail. They are never boring.</li>
              <li><a href="https://www.democracynow.org/podcast.xm" target="_blank">Democracy Now!</a>: Daily independent news coverage by the indefatiguable Amy Goodman and the Democracy Now! team.</li>
              <li><a href="https://podcasts.files.bbci.co.uk/b00snr0w.rss" target="_blank">The Infinite Monkey Cage</a>: Physicist Brian Cox hosts panels of scientists who are tasked with explaining the mysteries and wonders of the universe, with co-host Robin Ince in tow. The episodes are recorded live in front of an audience.</li>
              <li><a href="https://feeds.redcircle.com/459ff7b8-d253-40ab-9513-f1c2ed44056a" target="_blank">The Cine-Files</a>: Hosts Steve Morris and John Rocha dive deep into classic movies—both old and new—each week. I enjoy the well-researched discussions about pre- and post-production, and the hosts always keep things entertaining with their friendly banter.</li>
              <li><a href="https://feeds.simplecast.com/Y8lFbOT4" target="_blank">Freakonomics Radio</a>: “The hidden side of everything” is an apt tagline for this show hosted by Freakonomics co-author and journalist Stephen J. Dubner. The show explores various topics in depth, generally in the form of interviews with expert guests.</li>
              <li><a href="https://feeds.npr.org/381444908/podcast.xml" target="_blank">Fresh Air</a>: Frequently hosted by veteran broadcaster Terry Gross, NPR’s Fresh Air features longform conversations with the best and brightest minds from across the globe, covering a wide range of interests and topics.</h2>
              <li><a href="https://feeds.simplecast.com/4T39_jAj" target="_blank">StarTalk Radio</a>: Neil DeGrasse Tyson’s science explainer show, where he hosts scientists of all flavours each week for longform interviews. The topics are usually an intersection of the latest advancements of science and pop-culture, and the comedic co-hosts keep things entertaining.</li>
              <li><a href="https://feeds.simplecast.com/dHoohVNH" target="_blank">Conan O’Brien Needs A Friend</a>: In this conversational podcast, Conan engages in longform conversations with celebrities, and fans from around the world. Conan’s ability not to take himself too seriously is quite refreshing.</li>
              <li><a href="https://feeds.acast.com/public/shows/8a257350-1687-4883-9a3f-04a262d6cded" target="_blank">Kermode on Film</a>: This podcast mostly features recordings of the live events hosted by film critic Mark Kermode in BFI London, where he interviews filmmakers, actors, writers and executives about their upcoming projects.</li>
              <li><a href="https://www.omnycontent.com/d/playlist/e73c998e-6e60-432f-8610-ae210140c5b1/a91018a4-ea4f-4130-bf55-ae270180c327/44710ecc-10bb-48d1-93c7-ae270180c33e/podcast.rss" target="_blank">Stuff You Should Know</a>: Josh Clarke and Charles Bryant host this weekly educational podcast featuring a wide variety of topics: recent episodes included discussion on wisdom teeth, fever dreams, worker co-ops, Malcolm X, and the history of fire.</li>
              <li><a href="https://feeds.acast.com/public/shows/d0578067-5575-4fe2-98a5-dafaef3e328" target="_blank">Mallwalkin’ By Pistol Shrimps Radio</a>: Matt Gourley and Mark McConville walk through malls—yes, that literally it. </li>
              <li><a href="https://feeds.megaphone.fm/kermodeandmayo" target="_blank">Kermode &amp; Mayo’s Take</a> and the bonus episodes Kermode &amp; Mayo’s Extra Takes: Film critic Mark Kermode and broadcaster Simon Mayo host this weekly podcast, where they discuss the latest films and TV shows, interview guests from the showbiz world, and answer audience questions.</li>
              <li><a href="https://500songs.com/feed/podcast/a-history-of-rock-music-in-500-songs/" target="_blank">A History of Rock Music in 500 Songs</a> and bonus episodes: Andrew Hickey’s excellent podcast on the history of my favourite genre of music (loosely defined) is meticulously-researched and well-presented. The bonus episodes (available for Patreon subscribers) are a nice perk.</li>
              <li><a href="https://rss.art19.com/pluribus-pod" target="_blank">Pluribus: The Official Podcast</a>: Like many people I was completely blown away by this show. The podcast features interviews with the cast and crew, and is a great way to satisfy my craving for behind the scenes content.</li>
              <li><a href="https://web-weaving.jamesg.blog/episodes.xml" target="_blank">Wonders of Web Weaving</a>: James talks to various members of the IndieWeb community about the joys of making websites. </li>
              <li><a href="https://feeds.simplecast.com/hNaFxXpO" target="_blank">SmartLess</a>: Funnymen Jason Bateman, Sean Hayes, and Will Arnett chat with mystery guests (one of the hosts reveals his guest at the beginning of the episode) on this podcast which has proven to be excellent comic relief for me over the years.</li>
              <li><a href="https://www.bnipodcast.com/feed/podcast/" target="_blank">The Official BNI Podcast</a>: BNI founder Dr. Ivan Misner imparts his wisdom, networking tips, and business advise on this weekly shortform podcast.</li>
            </ul>
        </div>

      <div class="podcast-subgrid">
        <div class="grid-short">
          <h2>Occasionally listening to</h2>
            <ul>
              <li><a href="https://feeds.megaphone.fm/fly-on-the-wall" target="_blank">Fly on the Wall with Dana Carvey and David Spade</a></li>
              <li><a href="https://feeds.acast.com/public/shows/63d94883bacb1e0011b6409c" target="_blank">Echoes of History</a></li>
              <li><a href="https://www.omnycontent.com/d/playlist/e73c998e-6e60-432f-8610-ae210140c5b1/0e563f45-9d14-4ce8-8ef0-ae32006cd7e7/0d4cc74d-fff7-4b89-8818-ae32006cd7f0/podcast.rs" target="_blank">Revisionist History</a></li>
              <li><a href="https://feed.songexploder.net/SongExploder" target="_blank">Song Exploder</a></li>
              <li><a href="https://feeds.simplecast.com/ob9OSBIN" target="_blank">The Economics of Everyday Things</a></li>
              <li><a href="https://www.omnycontent.com/d/playlist/e73c998e-6e60-432f-8610-ae210140c5b1/d9d10cec-c33d-4a28-97ac-af6601472a44/86896b7c-10f6-4694-8953-af66014830d3/podcast.rss" target="_blank">Dan Snow’s History Hit</a></li>
              <li><a href="https://feeds.megaphone.fm/office-ladies" target="_blank">Office Ladies</a></li>
              <li><a href="https://www.omnycontent.com/d/playlist/e73c998e-6e60-432f-8610-ae210140c5b1/ff0ba2f2-f33c-4193-aba2-ae32006cd633/11c188a1-cb86-4869-9c57-ae32006cd63c/podcast.rss" target="_blank">Broken Record with Rick Rubin, Malcolm Gladwell, Bruce Headlam and Justin Richmond</a></li>
              <li><a href="https://feeds.npr.org/510325/podcast.xml" target="_blank">The Indicator from Planet Money</a></li>
            </ul>
        </div>

        <div class="grid-short">
          <h2>Lapsed</h2>
            <ul>
              <li><a href="https://rss.pdrl.fm/b405b3/feeds.megaphone.fm/davidtennant" target="_blank">David Tennant Does a Podcast With…</a></li>
              <li><a href="https://feed.podbean.com/peterorullian/feed.xml" target="_blank">Breaking Absolutes</a></li>
              <li><a href="https://feeds.simplecast.com/byb4nhvN" target="_blank">Comedy Bang Bang: The Podcast</a></li>
              <li><a href="https://rss.art19.com/brydon" target="_blank">Brydon &amp;</a></li>
              <li><a href="https://rss.art19.com/hello-puzzlers" target="_blank">Hello, Puzzlers!</a></li>
              <li><a href="https://feeds.megaphone.fm/WMHY3005782945" target="_blank">HBO’s The Last of Us Podcast</a></li>
              <li><a href="https://podcasts.files.bbci.co.uk/b07dx75g.rss" target="_blank">Curious Cases</a></li>
              <li><a href="https://feeds.simplecast.com/z1QZGf6d" target="_blank">Clear+Vivid with Alan Alda</a></li>
              <li><a href="https://rss.libsyn.com/shows/38078/destinations/104758.xml" target="_blank">Dean Delray’s LET THERE BE TALK</a></li>
            </ul>
        </div>
    
        <div class="grid-short">
          <h2>Discontinued by publisher</h2>
            <ul>
              <li><a href="https://feed.cdnstream1.com/zjb/feed/download/55/ff/01/55ff0119-dcf9-4251-80e0-fb0d06c2932d.xm" target="_blank">The Friendship Onion</a></li>
              <li><a href="https://darkfonzie.libsyn.com/rss" target="_blank">DARK FONZIE with Marc Maron &amp; Dean Delray</a></li>
              <li><a href="https://feeds.simplecast.com/_eCNTWZL" target="_blank">Inside Conan: An Important Hollywood Podcast</a></li>
              <li><a href="http://wtfpod.libsyn.com/rss" target="_blank">WTF with Marc Maron Podcast</a></li>
              <li><a href="https://rss.amperwave.net/v2/feed/audacynetwork/this-little-light" target="_blank">This Little Light</a></li>
              <li><a href="https://feeds.megaphone.fm/TPC3838283892" target="_blank">The Always Sunny Podcast</a></li>
              <li><a href="https://access.acast.com/rss/c939f8d1-c4bc-478e-8bb9-e5343f9a7ab5" target="_blank">The History Of Curb Your Enthusiasm With Jeff Garlin &amp; Susie Essman</a></li>
              <li><a href="https://martymcgui.re/podcasts/indieweb/feed.rss" target="_blank">This Week in the IndieWeb Audio Edition</a></li>
              <li><a href="https://rss.art19.com/digging-deep-with-robert-plant" target="_blank">Digging Deep with Robert Plant</a></li>
            </ul>
        </div>
      </div>
    </div>

  </body>
</PageLayout>
