---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "Projects - Thamara Kandabada";
---
<PageLayout title={pageTitle}>
  <body>

    <h1>Projects</h1>
    
    <h2>Finviz</h2>
    <p>I vibe-coded a data visualisation app that can be used with CSV exports from Finances 2 (or similar double-entry based bookkeeping apps.)</p>
    <ul class="project-links">
      <li>test</li>
      <li>list</li>
    </ul>

    <h2>Physical Media Vault</h2>
    <p>I vibe-coded a simple React app with Lovable to catalogue my physical media collection.</p>
    <ul class="project-links">
      <li></li>
    </ul>

    <h2>Bear Appeal</h2>
    <p>I built a successful e-commerce and apparel manufacturing business with my friend and co-founder Pavithra. While I’m no longer involved, the business continues to thrive under Pavithra and his team.</p>
    <ul class="project-links">
      <li></li>
    </ul>

    <h2>Debas</h2>
    <p>Debas was an online platform (now defunct) which brought together diverse perspectives on Sri Lankan politics, economy, society, and culture in dialogue with one another. I helped my friends Himal, Rajni, and Jo with this.</p>
    <ul class="project-links">
      <li></li>
    </ul>

    <h2>The Bad Take Podcast</h2>
    <p>A conversational podcast on anything from politics and pop culture to the universe and the meaning of life. I co-hosted this with my friend Himal. The episodes are still available online for your listening pleasure.</p>
    <ul class="project-links">
      <li></li>
    </ul>


  </body>
</PageLayout>
