---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "Slashpages";
---
<PageLayout title={pageTitle}>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/tk.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
  </head>
  
  <body>

    <h1>{pageTitle}</h1>
    
    <p>This website is my <a href="https://indieweb.org/digital_garden" target="_blank">“digital garden“</a>—my corner of the internet where I publish thoughts, showcase various interests, run experiments, and archive things for posterity. I treat it as an extension of my offline self. It is completely non-commercial, built with thought and care, and adheres to the <a href="https://indieweb.org" target="_blank">IndieWeb ethos</a>.</p>
    <p>Exploring this digital garden is easy; simply navigate through the various <a href="https://slashpages.net/" target="_blank">slash pages</a> below. They represent different parts of my personality, interests, and history.</p>
    
    <ul>
      <li><a href="/now">/Now</a></li>
      <li><a href="/notebook">/Notebook</a></li>
      <li><a href="/colophon">/Colophon</a></li>
    </ul>

  </body>

  </PageLayout>
</html>
</PageLayout>
