---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "Style - Thamara Kandabada";
---
<PageLayout title={pageTitle}>
  <body>

    <h1>Style</h1>
    
    <p>On this page you can see how different elements are styled on this website. I have not used any pre-packaged themes; all CSS was handwritten from the ground up.</p>

    <h2>Colour palette</h2>
    <p>This site gives you the option to switch between light and dark modes, which use the colour palettes below.</p>

    <div class="colour-palette-grid">
      <div>
        <h3>Light mode</h3>
          <div class="colours-grid">
            <div>
              <div class="colour-box-bg-p"></div>
              <p><strong>Primary background</strong> #f8f6f1</p>
            </div>
            <div>
              <div class="colour-box-bg-s"></div>
              <p><strong>Secondary background</strong> #f5f5f5</p>
            </div>
            <div>
              <div class="colour-box-bg-t"></div>
              <p><strong>Tertiary background</strong> #ebe1d5</p>
            </div>
            <div>
              <div class="colour-box-t-p"></div>
              <p><strong>Primary text</strong> #101519</p>
            </div>
            <div>
              <div class="colour-box-t-s"></div>
              <p><strong>Secondary text</strong> #13213c</p>
            </div>
            <div>
              <div class="colour-box-b-c"></div>
              <p><strong>Border colour</strong> #c6beb0</p>
            </div>
            <div>
              <div class="colour-box-a"></div>
              <p><strong>Accent</strong> #af4f41</p>
            </div>
          </div>
      </div>

      <div>
        <h3>Dark mode</h3>
          <div class="colours-grid">
            <div>
              <div class="colour-box-bg-p-dark"></div>
              <p><strong>Primary background</strong> #0d0d0e</p>
            </div>
            <div>
              <div class="colour-box-bg-s-dark"></div>
              <p><strong>Secondary background</strong> #0c182e</p>
            </div>
            <div>
              <div class="colour-box-bg-t-dark"></div>
              <p><strong>Tertiary background</strong> #000000</p>
            </div>
            <div>
              <div class="colour-box-t-p-dark"></div>
              <p><strong>Primary text</strong> #d8dce0</p>
            </div>
            <div>
              <div class="colour-box-t-s-dark"></div>
              <p><strong>Secondary text</strong> #a0a0a0</p>
            </div>
            <div>
              <div class="colour-box-b-c-dark"></div>
              <p><strong>Border colour</strong> #737a80</p>
            </div>
            <div>
              <div class="colour-box-a-dark"></div>
              <p><strong>Accent</strong> #fca311</p>
            </div>
          </div>
      </div>
    </div>

    <h2>Typography</h2>
    <p>This site uses the typeface <a href="https://www.type-together.com/maiola-font" target="_blank">Maiola</a> from the foundry <a href="https://www.type-together.com/" target="_blank">TypeTogether</a> throughout. Code blocks and inline code use the monospace font <a href="https://fonts.google.com/specimen/Cascadia+Mono" target="_blank">Cascadia Mono</a>. Here are various text elements set in these fonts.</p>

    <div class="type-showcase">
    <h1>Heading 1</h1>
    <p>Level 1 headings are set in the base font and the primary text colour, and have the following properties: <code>font-size: 3rem; margin-bottom: 2rem; margin-top: 3rem; font-weight: 400;</code></p>

    <h2>Heading 2</h2>
    <p>Level 2 headings are set in the base font and the secondary text colour, and have the following properties: <code>font-size: 3rem; margin-bottom: 2rem; margin-top: 3rem; font-weight: 400;</code></p>
    </div>

    <blockquote>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </blockquote>

  </body>
</PageLayout>
