---
import PageLayout from '../layouts/PageLayout.astro';
import { Code } from 'astro:components'
import { Picture } from 'astro:assets';
import balrogImage from '../assets/images/style/gothmog.jpg';
const pageTitle = "Style - Thamara Kandabada";
---
<PageLayout title={pageTitle}>
  <body>

    <h1>Style</h1>
    
    <p>On this page you can see how different elements are styled on this website. I have not used any pre-packaged themes; all CSS was handwritten from the ground up.</p>

    <p>While this website is designed to be fully responsive using media queries, it is best viewed on desktop.</p>

    <h2>Colour palette</h2>
    <p>This site gives you the option to switch between light and dark modes by using the toggle on the top navigation menu. All elements are dynamically repainted in the following colour schemes. No elements use harcoded colour values.</p>

    <div class="colour-palette-grid">
      <div>
        <h3>Light mode</h3>
          <div class="colours-grid">
            <div>
              <div class="colour-box-bg-p"></div>
              <p><strong>Primary background</strong> #f8f6f1</p>
            </div>
            <div>
              <div class="colour-box-bg-s"></div>
              <p><strong>Secondary background</strong> #f5f5f5</p>
            </div>
            <div>
              <div class="colour-box-bg-t"></div>
              <p><strong>Tertiary background</strong> #ebe1d5</p>
            </div>
            <div>
              <div class="colour-box-t-p"></div>
              <p><strong>Primary text</strong> #101519</p>
            </div>
            <div>
              <div class="colour-box-t-s"></div>
              <p><strong>Secondary text</strong> #13213c</p>
            </div>
            <div>
              <div class="colour-box-b-c"></div>
              <p><strong>Border colour</strong> #c6beb0</p>
            </div>
            <div>
              <div class="colour-box-a"></div>
              <p><strong>Accent</strong> #af4f41</p>
            </div>
          </div>
      </div>

      <div>
        <h3>Dark mode</h3>
          <div class="colours-grid">
            <div>
              <div class="colour-box-bg-p-dark"></div>
              <p><strong>Primary background</strong> #101519</p>
            </div>
            <div>
              <div class="colour-box-bg-s-dark"></div>
              <p><strong>Secondary background</strong> #181d23</p>
            </div>
            <div>
              <div class="colour-box-bg-t-dark"></div>
              <p><strong>Tertiary background</strong> #1c2129</p>
            </div>
            <div>
              <div class="colour-box-t-p-dark"></div>
              <p><strong>Primary text</strong> #d8dce0</p>
            </div>
            <div>
              <div class="colour-box-t-s-dark"></div>
              <p><strong>Secondary text</strong> #737a80</p>
            </div>
            <div>
              <div class="colour-box-b-c-dark"></div>
              <p><strong>Border colour</strong> #262c33</p>
            </div>
            <div>
              <div class="colour-box-a-dark"></div>
              <p><strong>Accent</strong> #1db4ac</p>
            </div>
          </div>
      </div>
    </div>

    <h2>Typography</h2>
    <p>This site uses the typeface <a href="https://www.type-together.com/maiola-font" target="_blank">Maiola</a> from the foundry <a href="https://www.type-together.com/" target="_blank">TypeTogether</a> throughout. Code blocks and inline code use the monospace font <a href="https://fonts.google.com/specimen/Cascadia+Mono" target="_blank">Cascadia Mono</a>. Here are various text elements set in these fonts.</p>

    <div class="type-showcase">
    <h1>Heading 1</h1>
    <p>Level 1 headings are set in the base font and the primary text colour, and have the following properties:</p>
    <p>Font size: <Code code={`3rem`} inline />, Font weight: <Code code={`400`} inline /></p>
  
    <h2>Heading 2</h2>
    <p>Level 2 headings are set in the base font and the secondary text colour, and have the following properties:</p>
    <p>Font size: <Code code={`2rem`} inline />, Font weight: <Code code={`700`} inline /></p>
    <p>They are also styled with a trailing line that extends the full remaining width of the container and is set in the border colour.</p>

    <h3>Heading 3</h3>
    <p>Level 3 headings are set in the base font and the secondary text colour, and have the following properties:</p>
    <p>Font size: <Code code={`1.75rem`} inline />, Font weight: <Code code={`400`} inline />, Text decoration: underline offset at <Code code={`0.4rem`} inline /></p>

    <h4>Heading 4</h4>
    <p>Level 4 headings are set in the base font and the secondary text colour, and have the following properties:</p>
    <p>Font size: <Code code={`1.5rem`} inline />, Font weight: <Code code={`400`} inline /></p>
  </div>

  <p><Code code={`h5`} inline /> and <Code code={`h6`} inline /> titles are not used on this website.</p>

  <p>Paragraph text is set in the base font at <Code code={`1.2rem`} inline />. List elements share the font size. </p>

  <p>Inline <Code code={`a`} inline /> elements in the body are set in the accent colour, with an underline offset at <Code code={`0.4rem`} inline />. On hover, elements transition to the primary text colour in <Code code={`0.3s`} inline />. Navigation links in the header and footer vary, with the header opting for a simple underline reveal on hover, and the footer transitioning from the primary text colour to the accent colour on hover.</p>

  <p>Inline code snippets are set in the monospace font Cascadia Mono at <Code code={`0.9rem`} inline />(to offset variable font heights between this and the base font) and are enclosed in a background block with a border radius of <Code code={`4px`} inline />.</p>

  <p>Code blocks are also enclosed in a background block with a boder radius of <Code code={`4px`} inline /> and variable padding. Overflow triggers a scrollbar set in the accent colour at a width of <Code code={`100px`} inline />. (Browser support for scrollbar styles vary). Syntax highlighting is handled by the built-in <a href="https://shiki.style/" target="_blank">Shiki</a> integration. I'm using the default <em>GitHub Dark</em> theme from Shiki, and this does not currently switch to a light theme when the website theme is switched.</p>
  <p>See example below.</p>
  <Code
  lang="css"
  code={`/*Overriding the wdith and height specification required by Astro's <Picture /> tag and adding a border radius*/
 img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
 }`} />
  
  <p>Blockquotes are italicised. They are <Code code={`1.5rem`} inline /> in font size and styled in the secondary text colour, with a <Code code={`1px`} inline /> left border styled in the accent colour. Blockquotes are only used for quotations rather than as a decorative element. See example below. </p>
  <blockquote>
    Arise, arise, Riders of Théoden!<br>Fell deeds awake: fire and slaughter!<br>Spear shall be shaken, shield be splintered,<br>a sword-day, a red day, ere the sun rises!<br>Ride now, ride now! Ride to Gondor!
  </blockquote>

  <p>Unordered lists use the default <Code code={`disc`} inline /> style and ordered lists use the default <Code code={`decimal`} inline /> style. Font colours are inherited from the parent. This is illustrated below.</p>
  <div class="meals type-showcase">
    <div>
      <h3>Meals of the day</h3>
      <ol>
        <li>Breakfast</li>
        <li>Second breakfast</li>
        <li>Elevenses</li>
        <li>Luncheon</li>
        <li>Afternoon Tea</li>
        <li>Dinner</li>
        <li>Supper</li>
      </ol>
    </div>
    <div>
      <h3>How to make taters</h3>
      <ul>
        <li>Boil 'em</li>
        <li>Mash 'em</li>
        <li>Stick 'em in a stew</li>
      </ul>
    </div>
  </div>

  <p>All text, except blog post titles, are left-aligned. Blog post titles are centre aligned-with a background set in the secondary background colour, on which the hero image (if available) overlaps with a <Code code={`-180px`} inline /> vertical spacing. See an example <a href="">here</a>.</p>

  <h2>Images</h2>
  <p>All images are served in AVIF with fallback to WebP, with a <Code code={`4px`} inline /> border radius and have alt text. Captions, when used, are right aligned and italicised. They are set in a font size of <Code code={`1rem`} inline /> and in the secondary text colour. Hyperlinks in the caption have no text decoration. See example below.</p>
  <figure>
  <Picture
    src={balrogImage} alt="A colourful and stylised drawing of a Balrog, engulfed in flames and wielding a large axe, riding a dragon"
    formats={['avif', 'webp']}
  />
  <figcaption>Gothmog, Lord of the Balrogs, riding a dragon. <a href="https://commons.wikimedia.org/wiki/File:GOTHMOG-1_(detail).jpg" target="_blank">Tttom</a>, <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">CC BY-SA 3.0</a>, via Wikimedia Commons</figcaption>
  </figure>

  <h2>Other components</h2>
  <p>Grid elements have a <Code code={`1px`} inline /> thick solid border set in the border colour, with a <Code code={`4px`} inline /> border radius. The background is styled in the tertiary background colour. If the grid element is hyperlinked, the border transitions to the accent colour on hover.</p>
  
  <div class="style-grid">
  <div class="unlinked-grid">
  <p>This is an example of an unlinked grid element. See this in use on the <a href="/uses">Uses</a> page.</p>
  </div>

  <div class="linked-grid">
  <p>This is an example of a linked grid element. See this in use on the <a href="/projects/debas">Debas Archives</a> page.</p>
  </div>
  </div>

  <p><a href="https://indieweb.org/post_footer" target="_blank">Post footers</a> share the above styles (with the exception of the hover effect). On ordered lists inside post footers, numbers are styled in the accent colour. See example below.</p>

  <div class="post-footer">
    <p><strong>Further reading</strong> (courtesy of <a href="https://tolkiengateway.net/wiki/Reading_order" target="_blank">Tolkien Gateway</a>)</p>
    <ol id="post-footer-list">
      <li><span><em>The Silmarillion:</em> The Silmarillion describes the beginnings of Tolkien's world.</span></li>
      <li><span><em>The Hobbit:</em> Although directly unrelated to The Silmarillion, it is the next big story.</span></li>  
      <li><span><em>The Lord of the Rings:</em> The conclusion of the story of The Hobbit as well as things mentioned in The Silmarillion.</span></li>  
    </ol>
  </div>

  <h2>Currently not in use</h2>
  <p>I'm currently not using tables, accordions, and definition lists within this website.</p>
  </body>
</PageLayout>
