---
import PageLayout from '../layouts/PageLayout.astro';
import docImage from '../assets/images/uses/dock.png'
import deskImage from '../assets/images/uses/desk.png'
import phoneImage from '../assets/images/uses/phone.png'
const pageTitle = "Uses - Thamara Kandabada";
---
<PageLayout title={pageTitle}>
  <body>

    <h1>Uses - WIP</h1>
    
    <p>An occasionally updated, non-exhaustive list of tools I use in everyday life. Inspired by <a href="https://uses.tech/" target="_blank">uses.tech</a>. You may also be interested in seeing the evolution of my desk setup at <a href="/desk">/desk</a>.</p>
    <p><strong>Last Updated:</strong> 13 Jun 2026</p>

    <h2>Hardware</h2>
    <p>I’ve stripped down my gear drastically to fit into a smaller living space. This is what I currently own and use.</p>

    <img src="" alt="My current desk setup which includes the gear listed on this page" width="100%">
    
    <h3>EDC</h3>
    <ul>
      <li>iPhone 15 Pro 128GB: My daily driver since August 2024.</li>
      <li>iPhone 8 64GB: My work phone. Still going strong after many years of use. No longer receives major software updates, holding on to iOS 16.</li>
      <li>Apple Watch Series 10 GPS, 46mm Aluminium</li>
      <li>Anker Soundcore Life Q20 Wireless Headphones</li>
      <li>AirTag: My wallet tracker.</li>
      <li>weTag mini: Cheap alternative for AirTags, used with keys, card wallets, luggage, etc.</li>
    </ul>
    <h3>Computer Setup</h3>
    <h4>At home</h4>
    <ul>
      <li>MacBook Air M1: Space Grey, 8GB RAM, 256GB Storage. My daily driver at home.</li>
      <li>Mac mini M1: Space Grey, 16GB RAM, 512GB Storage. Used in my desktop setup.</li>
      <li>Logitech MX Master 2S Wireless Mouse: I’ve been a Logitech fanboi for a while, and this mouse has served me well for many years.</li>
      <li>Logitech MX Keys for Mac Wireless Keyboard: Excellent non-mechanical keyboard option for Mac. Great battery life.</li>
      <li>Anker Prime 250W Charging Station</li>
      <li>Anker PowerPort 5 Desktop Charger</li>
      <li>Anker 7-in-1 USB Data Hub</li>
      <li>Seagate Backup Plus 5TB External HDD</li>
    </ul>

    <h4>At work</h4>
    <ul>
      <li>Windows PC</li>
        <ul>
          <li>Intel Core i5 12400F Processor</li>
          <li>Nvidia GEFORCE RTX 3050 Graphics</li>
          <li>1TB SSD, and 16GB RAM</li>
          <li>2x 27″ LG IPS Monitors (Inexpensive, unremarkable, works)</li>
          <li>Basic and inexpensive peripherals (perfectly serviceable)</li>
        </ul>
    </ul>

    <h3>TV & Audio</h3>
    <h4>Home Theatre</h4>
    <ul>
      <li>LG C4 48″ OLED TV: I’m obsessed with the perfect blacks on OLEDs, and cannot imagine going back to a non-OLED display. This TV also acts as the monitor for my Mac mini setup currently. It’s not ideal, but I’m making do with limited space.</li>
      <li>HISENSE AX3120G 3.1.2 Sound Bar: A downgrade from my previous 5.1 speaker setup, but soundbars are great for small spaces, and this one does what it says on the tin.</li>
    </ul>

    <h4>Headphone Setup</h4>
    <ul>
      <li>Massdrop x Sennheiser HD 6XX (HD 660) Headphones: Excellent open-back headphones with a great soundstage. Easy to drive.</li>
      <li>Schiit Modi 3+ DAC: Schiit’s entry level DAC with USB and optical inputs.</li>
      <li>Schiit Loki Mini+ Equaliser: Barely used, unless I feel a track really needs a bit of oomph. I generally prefer a clean and untarnished sound profile, but I like having the equaliser.</li>
      <li>Realistic 42-2110 Stereo Switcher: RadioShack gizmo from a bygone era. Works well for switching between my two amps.</li>
      <li>Schiit Magni Heresy Solid State Headphone Amplifier: Schiit’s entry level solid state headphone amp. Clean sound.</li>
      <li>Little Dot MKII Tube Headphone Amplifier: Affordable tube amp with an excellent warm sound profile.</li>
    </ul>

    <h3>Music Production & Recording</h3>
    <h4>Guitars</h4>
    <ul>
      <li>Fender Player Series Stratocaster: Alder Body in Tidepool Finish, Maple Fretboard, 3x Single Coil Pickups. Great clean tones.</li>
      <li>Epiphone 1959 Les Paul Standard: Mahogany Body in Aged Gloss Finish, Laurel Fretboard, 2x Gibson Burstbucker Pickups. Raw energy, dirty sound.</li>
      <li>Epiphone Embassy Bass: Mahogany Body in Graphite Black Finish, Laurel Fretboard, ProBucker Bass Pickups. Probably my least picked up guitar.</li>
      <li>Morris W-18 Dreadnought Acoustic: Spruce Top and Mahogany Back in Natural Finish. Well-made Japanese guitar modelled after a Martin D-18. Great bottom end.</li>
    </ul>

    <h4>Other Instruments</h4>
    <ul>
      <li>Stylophone Pocket Synthesizer</li>
      <li>Fender Blues Deluxe Harmonica, Key of D</li>
    </ul>

    <h4>Amps & Interfaces</h4>
    <ul>
      <li>Fender Champion 20 Solid State Combo Amplifier</li>
      <li>Vox amPlug2 Bass Guitar Headphone Amplifier</li>
      <li>Behringer UMC 404HD USB Audio Interface</li>
    </ul>

    <h4>Accessories</h4>
    <ul>
      <li>Tiger Double Guitar Stands</li>
      <li>D’Addario Clip On Tuner</li>
      <li>AmazonBasics Dynamic Vocal Microphone</li>
      <li>Moukey MMs-1 Adjustable Microphone Arm</li>
      <li>Konig & Meyer Harmonica Holder</li>
    </ul>

    <h3>Smart Home</h3>
    <ul>
      <li>Amazon Echo Pop</li>
      <li>Amazon Echo Show 5</li>
      <li>Tapo H100 Smart Hub</li>
      <li>Tapo P110M Smart Plugs</li>
      <li>Tapo T110 Door Alarm</li>
      <li>Tapo L510E and L530B Smart Bulbs</li>
      <li>Blink Outdoor 4 Security Cameras</li>
    </ul>
   
    <h3>Photo & Video</h3>
    <ul>
      <li>DJI Osmo Mobile 7 Handheld Gimbal</li>
    </ul>

    <h2>Software & Web</h2>
    <p>Regularly used apps across platforms, and some websites I can’t live without.</p>

    <img src={docImage.src} alt="A screenshot of the dock on my MacBook Air, showing some of my most used appps" width="100%" />
    
    <h3>Writing & Publishing</h3>
    <ul>
      <li>SoloMD and GitWriter: Git-based markdown writer for Mac and iPhone respectively. Synced with a GitHub repository for on the go access.</li>
      <li>WordPress</li>
      <li>Astro</li>
      <li>Google Workspace (Slides, Sheets, Docs)</li>
      <li>Apple Notes</li>
      <li>Apple Journal</li>
      <li>Visual Studio Code</li>
      <li>GitHub</li>
    </ul>

    <h3>Music, Photos & Video</h3>
    <ul>
      <li>GarageBand: An intuitive music recording and production platform for beginners like myself.</li>
      <li>Fender Tune: My tuning app of choice.</li>
      <li>DJI Mimo: Companion app for DJI gimbals.</li>
    </ul>

    <h3>Listening</h3>
    <ul>
      <li>Apple Music: I’ve been a subscriber ever since its launch in 2015. My preferred setting is HighRes Lossless (when available). Strictly no Atmos-mixed music.</li>
      <li>Overcast: My podcast app of choice.</li>
    </ul>

    <h3>Film & TV</h3>
    <ul>
      <li>Netflix</li>
      <li>Disney+</li>
      <li>Apple TV</li>
      <li>Prime Video</li>
      <li>MUBI</li>
      <li>Now</li>
      <li>ITVX</li>
      <li>BBC iPlayer</li>
      <li>YouTube</li>
      <li>Freevee</li>
      <li>Channel 4</li>
    </ul>

    <h3>Diaries</h3>
    <ul>
      <li>Letterboxd: My film discovery and diary app of choice. I don’t log TV on Letterboxd.</li>
      <li>Trakt: My TV show progress tracker of choice.</li>
      <li>JustWatch: For keeping track of film and TV show availability on streaming services in the UK.</li>
      <li>Goodreads: For tracking and sharing my reading progress, and maintaining wishlists.</li>
      <li>The Story Graph: currently testing as an alternative to Goodreads.</li>
    </ul>

    <h3>Design</h3>
    <ul>
      <li>Adobe Photoshop: For poster designs, and other projects I help out with occasionally.</li>
      <li>Canva: For social media content production at work.</li>
      <li>pCon planner: For space planning and 3D layout visualisation at work.</li>
      <li>Behance: For showcasing my portfolio of poster designs.</li>
      <li>Redbubble and Ko-fi: For selling my poster designs.</li>
    </ul>

    <h3>Productivity, Learning & Finances</h3>
    <div class="productivity-list">
    <ul>
      <li>Apple Reminders: My to-do app of choice.</li>
      <li>Apple Calendar: My calendar app of choice.</li>
      <li>Trello: My project management and planning app of choice.</li>
      <li>CopyClip 2: A simple and effective clipboard manager for Mac.</li>
      <li>WPS Office: My preferred office suite on Mac, although rarely used. At work, on my Windows PC, I use Microsoft Office.</li>
      <li>Amphetamine: A powerful energy-saver settings controller for Mac.</li>
      <li>Finances 2: Personal accounts and budgeting app for Mac. I also use a complementary self-hosted visualisation tool I made to better undestand my finances.</li>
      <li>Credit Karma: Credit score tracker.</li>
      <li>Amazon Alexa & Tapo: The control centres for all my smart home devices.</li>
      <li>FreeCodeCamp: An excellent free resource for learning to code.</li>
      <li>MyDriveTime: Driving lesson companion app.</li>
      <li>Dumb Phone (dp): Minimalist launcher for iOS.</li>
      <li>Pretty Progress: Visual progress tracker for iOS.</li>
    </ul>
    </div>

    <img class="phone-screen" scr="" alt="A screenshot of my iPhone's homescreen, showing the Dumb Phone launcher and the following apps on the menu bar: Current, Couch to 5K, GitWriter, Discord, Signal, WhatsApp" loading="lazy" width="100%" />

    <h3>Security</h3>
    <ul>
      <li>Blink: Controls my security cameras.</li>
      <li>Apple Passwords</li>
      <li>Google Authenticator</li>
      <li>Microsoft Authenticator</li>
    </ul>

    <h3>Browsing, Email & Chat</h3>
    <ul>
      <li>Mozilla Firefox: My primary browser on Mac and iPhone. I use Chrome at work on a Windows PC.</li>
      <li>Mozilla Thunderbird: My preferred app for managing multiple personal email addresses. At work I use Outlook.</li>
      <li>Hostinger Mail: Hosts my <code>t@thamara.co.uk</code> email inbox.</li>
      <li>iMessage & WhatsApp: Day-to-day messaging apps of choice.</li>
      <li>Discord: Web chat.</li>
      <li>Signal: Private messenger app.</li>
      <li>Zoom & Microsoft Teams: Used for online meetings at work.</li>
    </ul>
    
    <h3>Cloud</h3>
    <ul>
      <li>Google Drive</li>
      <li>Google Photos</li>
      <li>Dropbox</li>
      <li>OneDrive</li>
      <li>iCloud Drive</li>
    </ul>

    <h3>Health & Fitness</h3>
    <ul>
      <li>Apple Health & Apple Fitness</li>
      <li>Strava</li>
      <li>Runna</li>
      <li>AllTrails</li>
      <li>NHS Couch to 5K</li>
    </ul>

    <h3>Reading</h3>
    <ul>
      <li>Current: My preferred feed reader app on iOS and macOS.</li>
      <li>Kindle for iPhone</li>
      <li>Libby</li>
      <li>Libraries NI</li>
    </ul>

    <h3>AI Tools</h3>
    <ul>
      <li>Google Gemini</li>
      <li>Microsoft Copilot (via VS Code integration)</li>
      <li>Lovable</li>
    </ul>

    <h3>Shopping & Rewards</h3>
    <ul>
      <li>PS Deals: Price tracker for PlayStation games.</li>
      <li>PayPal Honey</li>
      <li>Avios</li>
      <li>Co-op Membership</li>
      <li>Nectar</li>
      <li>Tesco Clubcard</li>
      <li>Rakuten Cashback</li>
    </ul>

    <h3>Travel & Weather</h3>
    <ul>
      <li>Carrot: My weather app of choice on iOS</li>
      <li>Flighty: Powerful flight tracking app with real time updates.</li>
      <li>Skyscanner: Flight deals tracker.</li>
      <li>Booking.com / Hotels.com / Expedia / Airbnb</li>
      <li>Trainline / Translink mLink</li>
      <li>EasyJet / Aer Lingus & other One World airlines</li>
      <li>fonaCAB / Uber / Value Cabs</li>
    </ul>

    <h3>Entertainment & Arts</h3>
    <ul>
      <li>Bandsintown & Songkick: to keep track of gigs announced by my favourite artists.</li>
      <li>Co-op Live</li>
      <li>Ticketmaster</li>
      <li>Skiddle</li>
    </ul>

    <h3>Website Tools</h3>
    <ul>
      <li>Astro</li>
      <li>Vercel</li>
    </ul>

  </body>
</PageLayout>
