---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "Uses - Thamara Kandabada";
---
<PageLayout title={pageTitle}>
  <body>

    <h1>Uses</h1>
    
    <p>An occasionally updated, non-exhaustive list of tools I use in everyday life. Inspired by <a href="https://uses.tech/" target="_blank">uses.tech</a>. You may also be interested in seeing the evolution of my desk setup at <a href="/desk">/desk</a>.</p>
    <p><strong>Last Updated:</strong> 13 Jun 2026</p>

    <h2>Hardware</h2>
    <p>I’ve stripped down my gear drastically to fit into a smaller living space. This is what I currently own and use.</p>

    <h3>Computer Setup</h3>
    <h4>At home</h4>
    <ul>
      <li>MacBook Air M1: Space Grey, 8GB RAM, 256GB Storage. My daily driver at home.</li>
      <li>Mac mini M1: Space Grey, 16GB RAM, 512GB Storage. Used in my desktop setup.</li>
      <li>Logitech MX Master 2S Wireless Mouse: I’ve been a Logitech fanboi for a while, and this mouse has served me well for many years.</li>
      <li>Logitech MX Keys for Mac Wireless Keyboard: Excellent non-mechanical keyboard option for Mac. Great battery life.</li>
      <li>Anker Prime 250W Charging Station</li>
      <li>Anker PowerPort 5 Desktop Charger</li>
      <li>Anker 7-in-1 USB Data Hub</li>
      <li>Seagate Backup Plus 5TB External HDD</li>
    </ul>

    <h4>At work</h4>
    <ul>
      <li>Windows PC</li>
        <ul>
          <li>Intel Core i5 12400F Processor</li>
          <li>Nvidia GEFORCE RTX 3050 Graphics</li>
          <li>1TB SSD, and 16GB RAM</li>
          <li>2x 27″ LG IPS Monitors (Inexpensive, unremarkable, works)</li>
          <li>Basic and inexpensive peripherals (perfectly serviceable)</li>
        </ul>
    </ul>

    <h3>TV & Audio</h3>
    <h4>Home Theatre</h4>
    <ul>
      <li>LG C4 48″ OLED TV: I’m obsessed with the perfect blacks on OLEDs, and cannot imagine going back to a non-OLED display. This TV also acts as the monitor for my Mac mini setup currently. It’s not ideal, but I’m making do with limited space.</li>
      <li>HISENSE AX3120G 3.1.2 Sound Bar: A downgrade from my previous 5.1 speaker setup, but soundbars are great for small spaces, and this one does what it says on the tin.</li>
    </ul>

    <h4>Headphone Setup</h4>
    <ul>
      <li>Massdrop x Sennheiser HD 6XX (HD 660) Headphones: Excellent open-back headphones with a great soundstage. Easy to drive.</li>
      <li>Schiit Modi 3+ DAC: Schiit’s entry level DAC with USB and optical inputs.</li>
      <li>Schiit Loki Mini+ Equaliser: Barely used, unless I feel a track really needs a bit of oomph. I generally prefer a clean and untarnished sound profile, but I like having the equaliser.</li>
      <li>Realistic 42-2110 Stereo Switcher: RadioShack gizmo from a bygone era. Works well for switching between my two amps.</li>
      <li>Schiit Magni Heresy Solid State Headphone Amplifier: Schiit’s entry level solid state headphone amp. Clean sound.</li>
      <li>Little Dot MKII Tube Headphone Amplifier: Affordable tube amp with an excellent warm sound profile.</li>
    </ul>

  </body>
</PageLayout>
