---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "Verify - Thamara Kandabada";
---
<PageLayout title={pageTitle}>
  <body>

    <h1>Verify</h1>
    
    <p>work in progress</p>

  </body>
</PageLayout>
