---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "Verify - Thamara Kandabada";
---
<PageLayout title={pageTitle}>
  <body>

    <h1>Verify - WIP</h1>
    
    <p>This is a list of online identities I maintain across the interwebs.</p>

    <h2>Domains</h2>
    <p>I own the following domains. They are managed through my registrar of choice, <a href="https://porkbun.com/" target="_blank">Porkbun</a>.</p>
    <ul>
      <li><code>thamara.co.uk</code></li>
      <li><code>thamara.uk</code></li>
      <li><code>thamara.xyz</code></li>
      <li><code>thamara.blog</code></li>
      <li><code>thamara.work</code></li>
      <li><code>thamarakandabada.com</code></li>
      <li><code>windinroad.design</code></li>
    </ul>

    <h2>Social media accounts</h2>
    <p>Broadly defined, I have added a list of accounts where it's possible to publicly "follow" me.</p>
    <ul>
      <li>Reddit</li>
      <li>LinkedIn</li>
      <li>Letterboxd</li>
      <li>Gravatar</li>
      <li>YouTube</li>
      <li>MUBI</li>
      <li>Trakt</li>
      <li>Goodreads</li>
      <li>The Story Graph</li>
      <li>Behance</li>
      <li>Creative Cloud</li>
      <li>Strava</li>
      <li>Runna</li>
    </ul>

    <h2>Chat</h2>
    <ul>
      <li>Discord</li>
      <li>Signal</li>
      <li>iMessage</li>
    </ul>

    <h2>Gaming</h2>
    <ul>
      <li>PlayStation</li>
      <li>PSN Profiles</li>
    </ul>

    <h2>Writing & Publishing</h2>
    <ul>
      <li>WordPress.com</li>
      <li>GitHub</li>
    </ul>

    <h2>Other</h2>
    <ul>
      <li>Apple Music</li>
    </ul>

  </body>
</PageLayout>
