<div class="header">
	<nav>
	  <p><a href="/"><span class="site-title">Thamara Kandabada</span><span class="period-header">.</span></a> <span class="site-tagline">Generalist. Tinkerer.</span></p>

	  <div class="top-nav-links" id="mobile-menu">
		<a href="#"><div class="scrim"></div></a>
	    <a href="/notebook">Notebook</a>
	    <a href="/now">Now</a>
	    <a href="/uses">Uses</a>
	    <a href="/slashpages">All Slashpages</a>
	  <label class="switch">
        <input type="checkbox" id="theme-toggle">
        <span class="slider round"><i role="img" aria-label="light mode selector" class="bi bi-brightness-high-fill"><svg focusable="false" viewBox="0 0 24 24"></svg></i><i role="img" aria-label="dark mode selector" class="bi bi-moon-fill"><svg focusable="false" viewBox="0 0 24 24"></svg></i></span>
      </label>
	  <div class="x">
	    <a href="#"><i class="bi bi-x"></i></a>
	  </div>
	  </div>
	  
	  <div class="top-nav-burger">
	    <a href="#mobile-menu"><i class="bi bi-list"></i></a>
	  </div>
	</nav>
</div>