<div class="header">
	<nav>
	<p class="site-title"><a href="/">Thamara Kandabada<span class="period-header">.</span></a> <span class="site-tagline">Generalist. Tinkerer.</span></p>
	<div class="top-nav-links">
	<a href="/slashpages">Slashpages</a>
	</div>
	</nav>
</div>