<div class="wip-banner">
    <p class="banner-text">Work in progress: this is a clone of my WordPress site, currently being built in Astro, for eventual migration. Visit my <a href="https://thamara.co.uk">current site</a> for the latest updates.</p>
</div>