---
import PageLayout from '../../layouts/PageLayout.astro';
const pageTitle = "Debas Archives";
---
<PageLayout title={pageTitle}>
  <body>

    <h1>{pageTitle}</h1>
    
    <p>This is the complete archive of <code>debas.lk</code>, an online platform which sought to bring together diverse perspectives on Sri Lankan politics, economy, society, and culture in conversation with one another. Debas was the brainchild of my friends Rajni Gamage and Himal Kotelawala. I helped create and maintain the website, while another friend, Johanns Rogers (Jo), was in charge of social media. Debas accepted submissions from academics, experts, and thinkers of various disciplines. All published posts are archived here for posterity.</p>
    <p>The logo was designed by Jo.</p>

    <div class="debas-grid">
      <a href="#">
      <div class="debas-grid-item">
        <p class="debas-author">Roshni Kapur</p>
        <h2>Transitional justice in Sri Lanka: The importance of local ownership</h2>
        <p class="debas-date">9 Apr 2023</p>
      </div>
      </a>
  
      <a href="#">
      <div class="debas-grid-item">
        <p class="debas-author">Iman Hameed</p>
        <h2>187 Orchestra</h2>
        <p class="debas-date">27 Oct 2022</p>
      </div>
      </a>

      <a href="#">
      <div class="debas-grid-item">
        <p class="debas-author">Antonythasan Jesuthasan</p>
        <h2>Counting and Cracking</h2>
        <p class="debas-date">8 Oct 2022</p>
      </div>
      </a>
    </div>

  </body>
</PageLayout>
