---
import PageLayout from '../../layouts/PageLayout.astro';
const pageTitle = "Debas Archives";
---
<PageLayout title={pageTitle}>
  <body>

    <h1>{pageTitle}</h1>
    
    <p>This is the complete archive of <code>debas.lk</code>, an online platform which sought to bring together diverse perspectives on Sri Lankan politics, economy, society, and culture in conversation with one another. Debas was the brainchild of my friends Rajni Gamage and Himal Kotelawala. I helped create and maintain the website, while another friend, Johanns Rogers (Jo), was in charge of social media. Debas accepted submissions from academics, experts, and thinkers of various disciplines. All published posts are archived here for posterity.</p>
    <p>The logo was designed by Jo.</p>

  </body>

</html>
</PageLayout>
