---
import PageLayout from '../../layouts/PageLayout.astro';
import { Code } from 'astro:components';
const pageTitle = "Debas Archives";
---
<PageLayout title={pageTitle}>
  <body>

    <h1>{pageTitle}</h1>
    
    <p>This is the complete archive of <Code code=`debas.lk` inline />, an online platform which sought to bring together diverse perspectives on Sri Lankan politics, economy, society, and culture in conversation with one another. Debas was the brainchild of my friends <a href="https://scholar.google.com/citations?user=hCXEBkgAAAAJ&hl=en" target="_blank">Rajni Gamage</a> and <a href="https://himalkk.substack.com/" target="_blank">Himal Kotelawala</a>. I helped create and maintain the website, while another friend, <a href="https://rothbourne.substack.com/" target="_blank">Johanns Rogers</a> (Jo), was in charge of social media. Debas accepted submissions from academics, experts, and thinkers of various disciplines. All published posts are archived here for posterity.</p>
    <p>The logo was designed by Jo.</p>

    <div class="debas-grid">
      <div>
        <a href="/projects/debas/transitional-justice-in-sri-lanka">
        <p class="debas-author">Roshni Kapur</p>
        <h2>Transitional justice in Sri Lanka: The importance of local ownership</h2>
        <p class="debas-date">9 Apr 2023</p>
        </a>
      </div>
      
      <div>
        <a href="#">
        <p class="debas-author">Iman Hameed</p>
        <h2>187 Orchestra</h2>
        <p class="debas-date">27 Oct 2022</p>
        </a>
      </div>
      

  </body>
</PageLayout>
