---
import PageLayout from '../../layouts/PageLayout.astro';
const pageTitle = "The Bad Take Podcast Archives";
---
<PageLayout title={pageTitle}>
  <body>

    <h1>{pageTitle}</h1>
    
    <p>This is the complete archive of the (now discontinued) conversational podcast I co-hosted with Himal Kotelawala. The podcast was active from 2018–2022. Originally hosted on Anchor, it was distributed on most podcast platforms using Anchor’s syndication tools. The show is archived here for posterity, complete with the original show notes first published at <code>thebadtake.com</code>.</p>
    <p>The podcast’s logo was designed by me.</p>

  </body>
</PageLayout>
