---
import "../styles/global.css";
import Navigation from "../components/TopNavigation.astro";
import GlobalFooter from "../components/GlobalFooter.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/tk.png" />
		<link rel="icon" href="/favicon.ico" />
        <link rel="stylesheet" href="https://use.typekit.net/lbp7mnn.css">
		<meta name="generator" content={Astro.generator} />
		<title>Title</title>
	</head>
	
	<body>	
	<Navigation />
	<div class="page-content">
    <slot />
	</div>
	<GlobalFooter />
	</body>

</html>
