---
import "../styles/global.css";
import Navigation from "../components/TopNavigation.astro";
import WIPBanner from "../components/WIPBanner.astro";
import GlobalFooter from "../components/GlobalFooter.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/tk.png" />
		<link rel="icon" href="/favicon.ico" />
        <link rel="stylesheet" href="https://use.typekit.net/lbp7mnn.css">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body>	
     	<WIPBanner />
		<Navigation />
	
		<slot />   
		<GlobalFooter /> 
	
	</body>
	
</html>
