---
import "../styles/global.css";
import Analytics from '@vercel/analytics/astro';
import SpeedInsights from "@vercel/speed-insights/astro";
import Navigation from "../components/TopNavigation.astro";
import GlobalFooter from "../components/GlobalFooter.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/tk.png" />
    <link rel="stylesheet" href="https://use.typekit.net/lbp7mnn.css">
		<meta name="generator" content={Astro.generator} />
    <Analytics/>
    <SpeedInsights/>
		<title>{title}</title>
	</head>
	<body>	
		<Navigation />
		<div class="page-content">
		<slot />
		</div>   
		<GlobalFooter />
	</body>
</html>